.card {
    width: 88%;
    height: 90%;
    border-radius: 30px;
}
.div-home-photo {
    width: 28%;
    height: 28%;
    padding-top: 10px;
    padding-left: 0px;
    margin-left: 0px;
}
.div-home-text {
    margin-top: 40px;
    margin-left:  3px;
    width: 60%;
    font-size: 19px;
}
.div-home-card {
    margin-left: 0px;
    padding-right: 20px;
    width: 10%;
}
.home-h1 {
    border: solid #082379 2px;
    color: #082379;
    border-radius: 10px;
}
.conteiner {
    display: flex;
}
.mail-buttons-menu {
    padding-top: 15px;
}
.home-text {
    padding-top: 15px;
    border: solid #082379 2px;
    border-radius: 10px;
    color: #082379;
}
